body{
  background:#fff url(backg.jpg);
  border:5px;
}


#sitebox{
  width: 600px;
  height: 80$;
  margin:0 auto 15px auto;
  margin-top: 10px;
  background: #f4f4f4;
  color:#000;
  border: 1px solid #c0c0c0;
}


}
.header{
  background: #f4f4f4 url(headgradient.png) repeat-x;
  width: 600px;
  height: 70px;
}


.header__titulo{ 
  float: left;
  background: inherit;
  margin-left: 10px;
  color:#96b766;
  text-transform: lowercase;
  font-weight: 80;
  font-family: Times new roman, Trebuchet ms, arial;
  font-size: 2em;
}


.header__slogan span:hover{
  color: #000;
  background: #f4f4f4;
}


.header__slogan{
  float: right;
  color: #d0d0d0;
  font-size: 0.93em;
  margin-top: 15px;
  margin-right: 30px;
  text-transform: lowercase;
  font-family: times new roman, verdana,arial;
  margin-left: 250px;
}

.nav{
  clear: both;
  margin-top: 8px;
  height: 230px;
  background: #f4f4f4;
}

.nav__a {
  font-family: Trebuchet ms, arial;
  margin-left: 20px;
  background: #f4f4f4;
  text-transform: lowercase;
  color: #a0a0a0;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: 0em;
  font-family: Times New Roman;
  font-size:90%;
  color: #b0b0b0;
}

.nav__a:hover {
  color: #f26f29;
}

.section{
  width: 40%;
  float: left;
  background: #f4f4f4 url(headgradient.png) repeat-x;
  padding: 5px 5px 30px 50px;
}

.section__subtitulos{
  color: #0D47A7;
  font-family: Times new roman, Trebuchet ms, arial;
  font-size: 16px;
}
.section__parrafo{
  font-family: Times new roman, Trebuchet ms, arial;
  font-size: 14px;
  color: #a0a0a0;
}

.sectionr{
  width: 30%;
  float: right;
  background: #f4f4f4 url(headgradient.png) repeat-x;
  padding: 5px 70px 7px 10px;
}

.sectionr__subtitulos-dos{
  color: #FC701F;
  font-family: Times new roman, Trebuchet ms, arial;
  font-size: 16px;
}

.sectionr__parrafo-dos{
  font-family: Times new roman, Trebuchet ms, arial;
  font-size: 14px;
  color: #a0a0a0;
}

.section__a{
  color: #96b766;
  text-decoration: underline;
}

.section__a:hover {
  color: #96b766;
  text-decoration: none;
}

.footer{
  font-family: verdana,arial, helvetica, sans-serif;
  font-size: 50%;
  color:#999999;
  padding: 10px 8px 10px 8px;
  text-align: center;
  clear: left;
  background-color: #ffffff;
}

.footer__a{
  color: #96b766;
  text-decoration: underline;
}

.footer__a:hover {
  color: #96b766;
  text-decoration: none;
}

